.wrapper {
    padding: 20px 0 0 20px;
    font-size: 18px;
}

.titleForm input{
    margin-left: 10px;
    width: 200px;
    height: 20px;
}

.button {
    cursor: pointer;
    color: white;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5%; 
}

.add {
 background: #1569C7;
}

.add:hover {
    background: #00438e;
}

.edit {
    background: #76EE00;
}

.edit:hover {
    background:#6cbb1f;
}

.delete {
    background: crimson;
}

.delete:hover {
    background: #fb002f;
}

a {
    text-decoration: none;
}

p {
    cursor: pointer;
}